<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h1>PRINCE CHARLE FORM</h1>
<p>Find me in app/views/welcome/index.html.erb</p></t>
<p>Please fill in the Feedback Form</p>
<form method = "post" action = "">

<p>
<label> Name:
<input name = "name" type = "text" size = "25"/>
</label>
</p>
<br />
<p>
<label> Surname:
<input name = "surname" type = "text" size = "25"/>
</label>
</p>
<br />
<p>
<label> Comments:<br />
<textarea name = "comments" rows = "4" cols = "36">Enter Comments here: </textarea>
</label>
</p>
<br />
<p>
<input type = "submit" value = "Submit Feedback"/>
<input type = "reset" value = "Clear"/>
</p>
</form>
</body>
</html>
